@charset "utf-8";

/* font */
@mixin font($size, $family, $color) {
  font-size: $size;
  font-family: $family;
  color: $color;
}

/* body - size: xlarge|large|medium|small, weight: regular|medium|bold */
@mixin body($size: medium, $weight: regular) {
  font-size: var(--body-#{$size}-size);
  font-weight: var(--font-weight-#{$weight});
  line-height: var(--line-height-body);
  font-family: "Pretendard", sans-serif;
}

/* flex align */
@mixin fai($align) {
  display: flex;
  align-items: $align;
}

/* flex justify-content */
@mixin fjc($justify) {
  display: flex;
  justify-content: $justify;
}

/* flex direction*/
@mixin fdir($direction) {
  display: flex;
  flex-direction: $direction;
}

/* flex row */
@mixin flexRow($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

/* scrollbar mixin */
@mixin customScroll($x, $y, $thumbBg, $trackBg, $w) {
  overflow-x: $x;
  overflow-y: $y;
  scrollbar-width: thin;
  scrollbar-color: #303030 transparent;
  scrollbar-arrow-color: #fff;
  scrollbar-3dlight-color: #fff;
  scrollbar-darkshadow-color: #fff;
  scrollbar-face-color: #303030;
  scrollbar-shadow-color: #fff;
  scrollbar-track-color: #fff;
  scrollbar-base-color: #efefef;
  &::-webkit-scrollbar {
    width: $w;
  }
  &::-webkit-scrollbar-thumb {
    background: $thumbBg;
    border-radius: 5px;
    transition: 0.3s;
  }
  &::-webkit-scrollbar-track {
    background: $trackBg;
    border-radius: 5px;
  }
}
